/*.log-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: gold;
   background-image: linear-gradient(black, rgb(255, 255, 255));

  background-color: #000000;
}

.log-ig img {
  display: block;
  width: 100px;
  height: 120px;
  padding: 4px;
}

.log-header {
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
}

.log-header:hover {
  color: black;
  text-shadow: 2px 2px 2px gold;
}

.log-otp-sent {
  text-align: center;
  margin-bottom: 1rem;
  font-size: larger;
  text-decoration: double !important;
  height: 280px;
   text-shadow: 2px 2px 2px #000000 ;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.log-email-form{
  background-color: rgba(157, 157, 157, 0.7);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px gold;
  width: 400px;
  height: 280px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

}
.log-otp-form {
  background-color: rgba(157, 157, 157, 0.7);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px gold;
  width: 400px;
  height: 200px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}


.log-new-form {
  background-color: rgba(157, 157, 157, 0.7);
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 10px gold;
  width: 400px;
  height: 350px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.log-form-floating {
  position: relative;
  margin-bottom: -7rem;
  align-items: center !important;
  color: #00ff15;
}

.log-form-label {
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-60%);
  background-color: #fff;
  padding: 0 0.25rem;
  font-size: 0.8rem;
  color: #00ff15 !important;
  pointer-events: none;
  transition: 0.3s;
}

.log-form-input:focus + .log-form-label,
.log-form-input:not(:placeholder-shown) + .log-form-label {
  top: 10;
  font-size: 0.7rem;
  color: #007bff;
}
.log-signup-button,
.log-form-button {
  display: block;
  width:120px;
  padding: 5px;
  font-size: 16px;
  margin-left: 105px;
  margin-right: 105px;
  color: #ffffff;
  background-color: gold !important;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.log-signup-button:hover{
  background-color: black !important;
  color: #ffd700 !important;
}
.log-form-button:hover {
  background-color: black !important;
  color: #ffd700 !important;
}

.log-userinput {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.log-userinput:hover {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid gold;
  border-radius: 4px;
  margin-bottom: 2rem;
}
.log-labels {
  position: absolute;
  top: 18px;
  left: 1px !important;
  transform: translateY(-50%);
  background-color: none !important;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #ffffffe8;
  pointer-events: none;
  transition: 0.3s;
}
.log-labels2 {
  position: absolute;
  top: 18px;
  left: 1px !important;
  transform: translateY(-50%);
  background-color: none !important;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  color: #ffffffe8;
  pointer-events: none;
  transition: 0.3s;
}

.log-userinput:focus + .log-labels,   
.log-userinput:not(:placeholder-shown) + .log-labels {
  font-size: 20px !important;
  top: 0;
  left: 0 !important;
  padding-bottom: 30px;
  font: 1em sans-serif;
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.log-userinput:focus + .log-labels2,   
.log-userinput:not(:placeholder-shown) + .log-labels2 {
  font-size: 20px !important;
  top: 0;
  left: 0 !important;
  padding-bottom: 30px;
  font: 1em sans-serif;
  color: rgb(0, 0, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.icons{
 padding-bottom: 20px !important;
 padding-top: 10px;
}
.icons:hover{
  color: rgb(0, 0, 0) !important;
 }

 .log-form-floating {
  position: relative;
}

.log-form-floating input {
  padding-right: 35px;  Add space for the eye icon 
}

.log-form-floating {
  position: relative;
}

.log-form-floating input {
  padding-right: 35px; Add space for the eye icon 
}
*/

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container2 {
  position: relative;
  width: 100%;
  background-color: #6bd9fb;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;

  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field span{
  
  position: absolute;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
.eye{
  margin-left: 310px;
  position: absolute;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}



@media  (min-width:800px) and (max-width:1000px){
  .eye{
      margin-left: 220px;
  }
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
input:-webkit-autofill {
  background-color: #f0f0f0 !important; /* Or any color you prefer 
  -webkit-box-shadow: 0 0 0px 1000px white inset; 
  border-radius:0%;
}
input:-moz-autofill {
  background-color: white !important; 
}


.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color:   rgb(22, 90, 151);
  border-color: rgb(22, 90, 151);
}

.SignUpbtn{
  
    width: 150px;
    background-color: rgb(22, 90, 151);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
     margin-right: 190px; 
    
    cursor: pointer;
    transition: 0.5s;
  }
  


.Submitbtn {
  width: 150px;
  background-color: rgb(22, 90, 151);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btnn:hover {
  background-color:  rgb(22, 90, 151);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container2:before {
  content: "";
  position: absolute;
  height: 3000px;
  width: 3000px;
  top: -10%;
  right: 48%;
  transform: translateY(-60%);
  background: url(login.jpg)  center / cover ;
 
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 80%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
  padding-right: 290px;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 800px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

.Error{
  border: #00030c 5px;
  color: red;
}



.forgot-password-link {
  display: block; 
  margin-top: 10px;
  color: #7c0593;
  text-decoration: underline;
  font-size: 14px; 
}

.forgot-password-link:hover {
  color: #12ba34;
}


.Submitbtn {

}

.Submitbtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}




.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #fff;
}


.logouticon{
  background: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px 0px transparent;
  opacity: 0.8;
  transition: 0.8s;
  border-color: transparent;
  font-weight: 800;
  font-family: Helvatica;
  margin-left: 10px;
  transition: background-color 0.8s ease, color 0.9s ease;
}
.logouticon:hover{
  background-color: transparent;
  color: rgb(255, 0, 0);
  opacity: 0.7;
  transition: 0.8s;
  transform: scale(1.5);

}
 */


 /* Main container for the form and image */
.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 0px;
  background-color: rgb(255, 255, 255); /* Soft background color */


    background-color: transparent;
    background-image: radial-gradient(#000000 1px, #ffffff 1px);
    background-size: 40px 40px;
   

  
}

/* Container for forms (sign-in and sign-up) */
.forms-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 232, 255);
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 100px;
}

/* Panels container for image and other content */
.panels-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
  background-color: transparent;
  background-image: radial-gradient(#000000 1px, #ffffff 1px);
  background-size: 40px 40px;
 

}

/* Left panel for image */
.panel.left-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Image Styling */
.vector {
  width: 600px; /* Adjust to full width */
  max-width: 1000px; /* Keep a max width */
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */

}

/* Styling for Sign-in/Sign-up Forms */
.sign-in-form, .sign-up-form {
  width: 100%;
  max-width: 660px;
  text-align: center;

}

/* Input Fields */
.input-field {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-field i {
  position: absolute;
  left: 10px;
  color: #aaa;
}

.input-field input {
  width: 100%;
  padding: 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s;
}

.input-field input:focus {
  border-color: #6a5af9;
}

/* Password Toggle (Eye Icon) */
.eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #aaa;
}

/* Title of the Form */
.headr {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Submit Button */
.Submitbtn {
  width: 100%;
  background-color: #6a5af9;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Submitbtn:hover {
  background-color: #5044c8;
}

/* Forgot Password Link */
.forgot-password {
  color: #6a5af9;
  text-decoration: none;
}

/* spinner */ 
/* Spinner animation */
@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  width: 18px;
  height: 18px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spinner 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

.Submitbtn {
  width: 100%;
  background-color: #6a5af9;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Loading state */
.Submitbtn.loading {
  pointer-events: none; /* Prevent further clicks */
  opacity: 0.7; /* Dim the button to indicate loading */
}

.Submitbtn.loading .spinner {
  display: inline-block;
}

.Submitbtn .spinner {
  display: none;
  margin-left: 10px; /* Adjust the spinner's position */
}






.forgot-password:hover {
  text-decoration: underline;
}

/* Caps lock warning styling */
input:focus ~ .caps-lock-warning {
  color: red;
  font-size: 0.9rem;
}


/* Main Form Styles */
.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3c3c3c;
  padding: 100px;

  border-radius: 10px;
  width: 500px;
  margin: 50px auto;
  box-shadow: 2px 2px 10px 1px rgb(0, 93, 96);
  
}

/* Logo */
.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;

  margin-left: 100px;
  margin-right: 100px;
}

/* Title */
.title {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Google Login Button */
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px 20px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.google-login-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

.divider p {
  margin: 0 10px;
  font-size: 0.9rem;
  color: #999;
}

/* Input Fields */
.input-field {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.input-field i {
  position: absolute;
  left: 10px;
  color: #bbb;
}

.input-field input {
  width: 100%;
  padding: 10px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

.input-field input:focus {
  border-color: #6a5af9;
}

.eye {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #bbb;
}

/* Forgot Password Link */
.forgot-password-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}

.forgot-password {
  font-size: 0.9rem;
  color: #00aaff;
  text-decoration: none;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Submit Button */
.Submitbtn {
  width: 100%;
  background-color: #00aaff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0px;
  transition: background-color 0.3s ease;
}

.Submitbtn:hover {
  background-color: #005782;
}

/* Signup Link */
.signup-container {
  margin-top: 10px;
}

.signup-container p {
  font-size: 0.9rem;
  color: #777;
}

.signup-container a {
  color: #00aaff;
  text-decoration: none;
}

.signup-container a:hover {
  text-decoration: underline;
}
input:-webkit-autofill {
  background-color: white !important; /* Or any color you prefer */
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Ensures the background color is applied */
}


@media (min-width: 100px) and (max-width: 500px){
  .panels-container{
    display: none;
  }
 .sign-in-form{
  font-size: 1rem;
 }
 .forms-container {
  position: relative;
  width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 20px 5px rgba(90, 175, 255, 0.1);
  padding: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  background-color: rgb(0, 0, 0); 
}


}

